version: '3.8'
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - '3432:5432'
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - database
volumes:
  db:
    driver: local
  pgadmin-data:
    driver: bridge
networks:
  database:
    driver: bridge
