@use './variables' as *;
@use 'fonts';
@use 'buttons';
// * {
// 	outline: solid 2px #ff510080 !important;
// }
:root {
	scroll-behavior: smooth;
	background-color: surface(0);
	color: on-surface(0);
}

hr {
	height: 2px;
	background-color: #333;
	width: 100%;
	box-shadow: 0 0 4rem 0.2rem #00000080;
}

.form {
	fieldset {
		display: flex;
		flex-direction: column;
		gap: size(4);
	}
	label {
		p {
			margin-bottom: size(2);
			font-weight: 500;
			font-size: 1em;
		}
	}
}
